{% extends 'vital/base.html' %}

{% block content %}
{% if message %} <p style="color: green">{{ message }}&nbsp;&nbsp;&nbsp;<a href="/vital/courses/register">Register for new course</a></p> {% endif %}
      {% if courses %}
      <div style="width: 100%" align="left">
          <div style="width: 50%;float: left"><h5 style="padding-left: 10px"> Registered Courses </h5></div>
          <div style="width: 50%;float: left;" align="right"><a href="/vital/courses/register">Add course</a></div></div>

            <table width="75%" style="font-size: small">
            {% for course in courses %}
                <tr><td><a href="{% url 'vital:course_detail' course.id %}">{{ course.name }}</a></td>
                    <td>{{ course.course_number }}</td>
                    <td>{{ course.start_date }}</td>
                    <td><a href="{% url 'vital:course_deregister' course.id %}">Remove</a></td>
                </tr>
            {% endfor %}
            </table>
      {% endif %}
{% endblock content %}
